.bar {
    background-color: black;
    padding: 0.5em;
    color:white;
}

.sorted {
    background-color: green;
}

.swapping {
    background-color: blue;
}

.comparing {
    background-color: red;
}